.materials-tree {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  padding: 40px 40px 120px 40px;

  gap: 24px;

  border-radius: 14px;

  &__topic {
    display: flex;
    align-items: center;
    gap: 12px;

    & > h2 {
      color: black;
      font-size: 32px;
    }

    & > h3 {
      display: flex;
      justify-content: center;
      align-items: center;

      border-radius: 100%;

      color: rgb(255, 255, 255);
      width: 40px;
      height: 40px;
      background-color: black;
    }
  }
}
